@font-face {
  font-family: 'ghost-icons';
  src: url('../font/ghost-icons.eot?7255238');
  src: url('../font/ghost-icons.eot?7255238#iefix') format('embedded-opentype'),
       url('../font/ghost-icons.woff?7255238') format('woff'),
       url('../font/ghost-icons.ttf?7255238') format('truetype'),
       url('../font/ghost-icons.svg?7255238#ghost-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ghost-icons';
    src: url('../font/ghost-icons.svg?7255238#ghost-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ghost-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-rss:before { content: '\e805'; } /* '' */
.icon-google-plus:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */